@import "reset"; // css reset

html {
  font-size: 18px; /* 18px = 1rem */
}

html, body {
  height: 100%;
}

body, p, span, div {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-style: normal;
  // font-weight: 300;
  line-height: 1.53em;
  -webkit-font-smoothing: antialiased;
  color: #333;
}