@import "reset"; // css reset

html {
  font-size: 18px; /* 18px = 1rem */
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {font-size: 3.998em; margin-top: 0;}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

body, p, span, div {
  /*font-family: "Proxima Nova";*/
  /*
    light: 300
    regular: 400
    bold: 700
  */
  /*font-family: "proxima-nova", sans-serif;*/
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 1.53; /* 1.45 */
  -webkit-font-smoothing: antialiased;
  color: #333;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #C4C4C4;
}

a {
  border-bottom: 1px solid transparent;
  transition: border-bottom 120ms ease-in;
}

a:hover {
  border-bottom: 1px solid transparent;
  text-decoration: none !important;
}

/*a:hover {*/
.link_hover_underline {
  transition: all 120ms ease-in;
  border-bottom: 1px solid transparent;
}

.link_hover_underline:hover {
  text-decoration: none !important;
  border-bottom: 1px solid #337ab7;
  color: #23527c;
}

.full_height {
  height: 100%;
}


/* Misc */

/*.small_margin_top {
  margin-top: 20px;
}*/

.footer, #footer-year {
  color: #A0A0A0;
  text-shadow: 0px 1px #DADADA;
}

.footer {
  padding-left: 30px;
  /*margin-bottom: 30px;*/
  margin-bottom: 50px;
  min-height: 5px;
}


.navbar {
  position: fixed;
  background-color: rgba(51, 51, 51, 0.8);
  text-shadow: 0px 1px 1px #1E1E1E;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 2;
}

.navbar span {
  color: white;
}

.navbar_active {
  /*border-bottom: 1px solid white;*/
}

.content {
  padding-left: 80px;
  padding-right: 80px;
}

.promo {
  background-image: url("img/header_background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 450px;
  height: 100%;
  text-align: center;
}


.promo_name {
  margin-top: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2.5em;
  text-shadow: 0px 1px 2px #434A41;
}

.promo_name .extra_bold {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.promo_sub_text {
  color: white;
  text-shadow: 0px 1px 2px #494D48;
  font-size: 1.2em;
  margin-top: 20px;
  padding: 0px 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.promo_icons {
  color: white;
  margin-top: 8px;
  text-shadow: 0px 1px 2px #3E3A2C;
}

.promo_social_icon {
  margin: 0px 7px;
  color: white;
  transition: color 100ms ease-in;
}

.promo_social_icon:hover {
  color: #C2C2C2;
}

.promo_image_credit {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7em;
  margin-left: 0px;
  margin-top: -30px;
  margin-right: 12px;
  float: right;
  text-decoration: none;
}
.promo_image_credit:hover {
  color: rgba(255, 255, 255, 0.9);
}

.black_text {
  color: #333;
}

.small_margin_top {
  margin-top: 4%;
}

.tiny_margin_top {
  margin-top: 2%;
}

.large_margin_top {
  margin-top: 13%;
}

.huge_margin_top {
  margin-top: 16%;
}

.large_margin_bottom {
  margin-bottom: 8%;
}

.blue_hover_highlight:hover {
  /*color: #5f5f5f;*/
  color: #23527c;
}

.block {
  display: block;
}


.subsection_header_row {
  border-bottom: 1px solid #D3D3D3;
  margin-bottom: 20px;
}

.subsection_header {
  margin-top: 50px;
  line-height: 2.5em;
}

.subsection_header_text {
  display: inline-block;
  line-height: 2.5em;
  text-transform: uppercase;
  border-bottom: 3px solid #333;
  font-size: 1.1em;
  font-weight: 400;
}

.contact_method_icon {
  text-align: center;
}

.contact_method_text {
  margin-left: 10px;
}

.contact_method_link {
  color: #333;
  /*transition: all 120ms ease-in;
  border-bottom: 1px solid transparent;*/
}
.contact_method_link:hover {
  /*border-bottom: 1px solid #337ab7;*/
  /*text-decoration: none;*/
}


/* Project Section Styling */

.project_header {
  padding-bottom: 8px;
  border-bottom: 1px solid #D1D1D1;
  margin-bottom: 20px;
}

.project_name {
  font-weight: 400;
  font-size: 1.1em;
  color: #333;
  cursor: pointer;
}

.project_timeframe {
  margin-left: 5px;
  color: #717171;
}

.project_learn_more {
  float: right;
  margin-top: 5%;
  margin-bottom: 8%;
}

.project_description {

}

.project_container {
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: 1px solid #D1D1D1;
}

.no_border_bottom {
  border-bottom: none;
}

.tutera_project_info_container {
  margin-top: 6%;
}

.notemap_computer_image {
  max-width: 500px;
  max-height: 421px;
  padding-bottom: 84.2%;
  background-image: url("img/notemap-imac.png");
  background-image: -webkit-image-set(
    url("img/notemap-imac.png")    1x,
    url("img/notemap-imac@2x.png") 2x
  );
  background-image: image-set(
    url("img/notemap-imac.png")    1x,
    url("img/notemap-imac@2x.png") 2x
  );
}

.tutera_phone_image {
  max-width: 500px;
  max-height: 569px;
  padding-bottom: 113.8%;
  background-image: url("img/tutera-phone.png");
  background-image: -webkit-image-set(
    url("img/tutera-phone.png")    1x,
    url("img/tutera-phone@2x.png") 2x
  );
  background-image: image-set(
    url("img/tutera-phone.png")    1x,
    url("img/tutera-phone@2x.png") 2x
  );
}

.trybtc_laptop_image {
  margin-top: 6%;
  max-width: 500px;
  max-height: 294px;
  padding-bottom: 58.8%;
  background-image: url("img/trybtc-laptop.png");
  background-image: -webkit-image-set(
    url("img/trybtc-laptop.png")    1x,
    url("img/trybtc-laptop@2x.png") 2x
  );
  background-image: image-set(
    url("img/trybtc-laptop.png")    1x,
    url("img/trybtc-laptop@2x.png") 2x
  );
}


.about_me_headshot {
  border: 1px solid #B2B2B2;
  border-radius: 200px;
  width: 100px; /* 200 */
  height: 100px;
  /*margin: 0px 30px;*/
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 2px #3B4545;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("img/headshot.jpg");
  background-image: -webkit-image-set(
    url("img/headshot.jpg")    1x,
    url("img/headshot@2x.jpg") 2x
  );
  background-image: image-set(
    url("img/headshot.jpg")    1x,
    url("img/headshot@2x.jpg") 2x
  );
}

.project_technology {
  text-transform: uppercase;
  font-size: 0.7em;
  color: #717171;
}

.project_technology_separator {
  font-size: 0.3em !important;
  color: #717171;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

.vertical_center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.homepage .container {
  padding-left: 40px;
  padding-right: 40px;
}

.long_row_fix {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/************** CONTENT PAGES **************/

.project_page {
  height: 100%;
}

.trybtc_page {
  .project_page_promo {
    background-image: url("img/trybtc_header@2x.jpg");
  }

  .project_promo_name {
    text-shadow: 0px 1px 2px #434A41;
  }

  .project_promo_sub_text {
    text-shadow: 0px 1px 2px #494D48;
  }

  .project_highlight_number, .project_highlight_text {
    text-shadow: 0px 1px 2px #513416;
  }
}

.tutera_page {
  .project_page_promo {
    background-image: url("img/tutera_header@2x.jpg");
  }

  .project_promo_name {
    text-shadow: 0px 1px 1px #131709;
  }

  .project_promo_sub_text {
    text-shadow: 0px 1px 2px #232B0F;
  }

  .project_highlight_number, .project_highlight_text {
    text-shadow: 0px 1px 1px #5D632F;
  }
}

.notemap_page {
  .project_page_promo {
    background-image: url("img/notemap_header@2x.jpg");
  }

  .project_promo_name {
    text-shadow: 0px 1px 2px #613C27;
  }

  .project_promo_sub_text {
    text-shadow: 0px 1px 2px #3F403C;
  }

  .project_highlight_number, .project_highlight_text {
    text-shadow: 0px 1px 1px #656969;
  }
}


.project_page .container {
  padding-left: 60px;
  padding-right: 60px;
}

.project_page_promo {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  max-height: 425px;
}

.highlights_container {
  text-align: center;
}

.highlights_outer_container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
}

.project_promo_name {
  /*margin-top: 5px;*/
  margin-top: 15px;
  color: white;
  font-weight: 400;
  /*font-size: 2.5em;*/
  font-size: 3.5em;
  font-family: "Raleway", "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: -15px;
}

/*.project_promo_nav_link {
  color: white;
}*/

.project_promo_sub_text {
  color: white;
  font-size: 1.2em;
  margin-top: 10px;
  padding: 0px 30px;
  font-weight: 200;
}

.promo_name_container {
  margin-bottom: 55px;
}


.full_responsive_image {
  /* CSS hack to show background-image at perfect size. See: http://stackoverflow.com/a/13625843 */
  height: 0;
  /*padding-bottom: 100%;*/
  /*padding-bottom: height/width*/
  height: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
}

.trybtc_screenshot_2_text {
  margin-top: 16%;
}

.notemap_screenshot_4_text {
  margin-top: 13%;
}

.tutera_screenshot_1_text {
  margin-top: 11.5%;
}

.tutera_screenshot_2_text {
  margin-top: 8.5%;
}

.tutera_screenshot_4_text {
  margin-top: 20%;
}

.tutera_screenshot_5_text {
  margin-top: 28%;
}

.trybtc_screenshot_1 {
  max-width: 2224px;
  max-height: 1310px;
  padding-bottom: 58.9%; /* height/width */
  background-image: url("img/trybtc_screenshot_1.jpg");
  background-image: -webkit-image-set(
    url("img/trybtc_screenshot_1.jpg")    1x,
    url("img/trybtc_screenshot_1.jpg") 2x
  );
  background-image: image-set(
    url("img/trybtc_screenshot_1.jpg")    1x,
    url("img/trybtc_screenshot_1.jpg") 2x
  );

  margin-bottom: 25px;
}

.trybtc_screenshot_2 {
  max-width: 628px;
  max-height: 645px;
  padding-bottom: 102.7%; /* height/width */
  background-image: url("img/trybtc_screenshot_2.jpg");
  background-image: -webkit-image-set(
    url("img/trybtc_screenshot_2.jpg")    1x,
    url("img/trybtc_screenshot_2.jpg") 2x
  );
}

.trybtc_screenshot_3 {
  max-width: 545px;
  max-height: 372px;
  padding-bottom: 68.2%; /* height/width */
  background-image: url("img/trybtc_screenshot_3.jpg");
  background-image: -webkit-image-set(
    url("img/trybtc_screenshot_3.jpg")    1x,
    url("img/trybtc_screenshot_3.jpg") 2x
  );
  background-image: image-set(
    url("img/trybtc_screenshot_3.jpg")    1x,
    url("img/trybtc_screenshot_3.jpg") 2x
  );

  margin-bottom: 20px;
}

.trybtc_screenshot_4 {
  max-width: 545px;
    max-height: 372px;
    padding-bottom: 68.2%; /* height/width */
  background-image: url("img/trybtc_screenshot_4.jpg");
  background-image: -webkit-image-set(
    url("img/trybtc_screenshot_4.jpg")    1x,
    url("img/trybtc_screenshot_4.jpg") 2x
  );
  background-image: image-set(
    url("img/trybtc_screenshot_4.jpg")    1x,
    url("img/trybtc_screenshot_4.jpg") 2x
  );

  margin-bottom: 20px;
}

.trybtc_screenshot_5 {
  max-width: 2196px;
  max-height: 1420px;
  padding-bottom: 64.6%; /* height/width */
  background-image: url("img/trybtc_screenshot_5.jpg");
  background-image: -webkit-image-set(
    url("img/trybtc_screenshot_5.jpg")    1x,
    url("img/trybtc_screenshot_5.jpg") 2x
  );
  background-image: image-set(
    url("img/trybtc_screenshot_5.jpg")    1x,
    url("img/trybtc_screenshot_5.jpg") 2x
  );

  margin-bottom: 25px;
}

.tutera_screenshot_1 {
  max-width: 628px;
  max-height: 448px;
  padding-bottom: 71.05%; /* height/width, manually adjusted a smidge */
  background-image: url("img/tutera_screenshot_1.jpg");
  background-image: -webkit-image-set(
    url("img/tutera_screenshot_1.jpg")    1x,
    url("img/tutera_screenshot_1@2x.jpg") 2x
  );
  border: 1px solid #c4c4c4;
}

.tutera_screenshot_2 {
  max-width: 628px;
  max-height: 418px;
  padding-bottom: 66.56%; /* height/width, manually adjusted a smidge */
  background-image: url("img/tutera_screenshot_2.jpg");
  background-image: -webkit-image-set(
    url("img/tutera_screenshot_2.jpg")    1x,
    url("img/tutera_screenshot_2@2x.jpg") 2x
  );
  border: 1px solid #c4c4c4;
}

.tutera_screenshot_3 {
  max-width: 1874px;
  max-height: 1102px;
  padding-bottom: 58.8%; /* height/width */
  background-image: url("img/tutera_screenshot_3.jpg");
  background-image: -webkit-image-set(
    url("img/tutera_screenshot_3.jpg")    1x,
    url("img/tutera_screenshot_3.jpg") 2x
  );
  background-image: image-set(
    url("img/tutera_screenshot_3.jpg")    1x,
    url("img/tutera_screenshot_3.jpg") 2x
  );

  margin-bottom: 25px;
  border: 1px solid #c4c4c4;
}

.tutera_screenshot_4 {
  max-width: 628px;
  max-height: 675px;
  padding-bottom: 100.7%; /* height/width, manually adjusted a smidge */
  background-image: url("img/tutera_screenshot_4.jpg");
  background-image: -webkit-image-set(
    url("img/tutera_screenshot_4.jpg")    1x,
    url("img/tutera_screenshot_4.jpg") 2x
  );
  border: 1px solid #c4c4c4;
}

.tutera_screenshot_5 {
  max-width: 628px;
  max-height: 873px;
  padding-bottom: 139%; /* height/width, manually adjusted a smidge */
  background-image: url("img/tutera_screenshot_5.jpg");
  background-image: -webkit-image-set(
    url("img/tutera_screenshot_5.jpg")    1x,
    url("img/tutera_screenshot_5.jpg") 2x
  );
  border: 1px solid #c4c4c4;
}

.notemap_screenshot_1 {
  max-width: 1000px;
  max-height: 803px;
  padding-bottom: 80.3%; /* height/width */
  background-image: url("img/notemap_screenshot_1.jpg");
  background-image: -webkit-image-set(
    url("img/notemap_screenshot_1.jpg")    1x,
    url("img/notemap_screenshot_1.jpg") 2x
  );
  background-image: image-set(
    url("img/notemap_screenshot_1.jpg")    1x,
    url("img/notemap_screenshot_1.jpg") 2x
  );

  margin-bottom: 25px;
}

.notemap_screenshot_2 {
  max-width: 1000px;
  max-height: 803px;
  padding-bottom: 80.3%; /* height/width */
  background-image: url("img/notemap_screenshot_2.jpg");
  background-image: -webkit-image-set(
    url("img/notemap_screenshot_2.jpg")    1x,
    url("img/notemap_screenshot_2.jpg") 2x
  );
  background-image: image-set(
    url("img/notemap_screenshot_2.jpg")    1x,
    url("img/notemap_screenshot_2.jpg") 2x
  );

  margin-bottom: 25px;
}

.notemap_screenshot_3 {
  max-width: 1442px;
  max-height: 1032px;
  padding-bottom: 71.5%; /* height/width */
  background-image: url("img/notemap_screenshot_3.jpg");
  background-image: -webkit-image-set(
    url("img/notemap_screenshot_3.jpg")    1x,
    url("img/notemap_screenshot_3.jpg") 2x
  );
  background-image: image-set(
    url("img/notemap_screenshot_3.jpg")    1x,
    url("img/notemap_screenshot_3.jpg") 2x
  );

  margin-bottom: 25px;
}

.notemap_screenshot_4 {
  max-width: 628px;
  max-height: 450px;
  padding-bottom: 71.6%; /* height/width */
  background-image: url("img/notemap_screenshot_4.jpg");
  background-image: -webkit-image-set(
    url("img/notemap_screenshot_4.jpg")    1x,
    url("img/notemap_screenshot_4.jpg") 2x
  );
  border: 1px solid #c4c4c4;
}

.notemap_screenshot_5 {
  max-width: 545px;
  max-height: 386px;
  padding-bottom: 70.8%; /* height/width */
  background-image: url("img/notemap_screenshot_5.jpg");
  background-image: -webkit-image-set(
    url("img/notemap_screenshot_5.jpg")    1x,
    url("img/notemap_screenshot_5@2x.jpg") 2x
  );
  background-image: image-set(
    url("img/notemap_screenshot_5.jpg")    1x,
    url("img/notemap_screenshot_5@2x.jpg") 2x
  );

  margin-bottom: 20px;
  border: 1px solid #c4c4c4;
}

.notemap_screenshot_6 {
  max-width: 545px;
    max-height: 386px;
    padding-bottom: 70.8%; /* height/width */
  background-image: url("img/notemap_screenshot_6.jpg");
  background-image: -webkit-image-set(
    url("img/notemap_screenshot_6.jpg")    1x,
    url("img/notemap_screenshot_6@2x.jpg") 2x
  );
  background-image: image-set(
    url("img/notemap_screenshot_6.jpg")    1x,
    url("img/notemap_screenshot_6@2x.jpg") 2x
  );

  margin-bottom: 20px;
  border: 1px solid #c4c4c4;
}

.centered_text {
  text-align: center;
}

.project_highlight_number {
  font-size: 2.4em;
  font-weight: 400;
  color: white;
}

.project_highlight_text {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: white;
}
