extends layout

block title
  title Pat Briggs's Personal Site and Portfolio

block content
  //- Big promo picture and my name
  .promo
    .vertical_center
      .about_me_headshot
      .promo_name
        span.extra_bold Pat
        | Briggs
      .promo_sub_text Full-stack developer
      .promo_icons
        a.promo_social_icon(href='https://www.linkedin.com/in/pkbriggs', target='_blank')
          i.fa.fa-linkedin-square
        a.promo_social_icon(href='mailto:patkbriggs@gmail.com', target='_blank')
          i.fa.fa-envelope-o
        a.promo_social_icon(href='https://github.com/pkbriggs', target='_blank')
          i.fa.fa-github-square
  a.promo_image_credit(href='https://pixabay.com/en/beach-volley-volleyball-401879/', target='_blank' rel="nofollow") image source


  //- About and contact sections
  .side_by_side_container
    .subsection_header.side_by_side_left_header.side_by_side_large
      span.subsection_header_text About
    .subsection_header_divider.side_by_side_left_header_divider
    .subsection_content.side_by_side_left_content.side_by_side_large
      p
        | Hi, I'm Pat! I'm currently a senior studying computer science at Stanford University. I love the process of creation - from need-finding and sketching to prototyping and coding. I'm passionate about making things that people love to use.
      p.small_margin_top
        | On the weekends, you can find me on a sand volleyball court or in the gym doing squats. I could also be tinkering with new Javascript libraries or playing Super Smash Brothers.

    .subsection_header.side_by_side_right_header.side_by_side_small
      span.subsection_header_text Contact
    .subsection_header_divider.side_by_side_right_header_divider
    .subsection_content.side_by_side_right_content.side_by_side_small
      a.block(href='https://www.linkedin.com/in/pkbriggs', target='_blank')
        i.fa.fa-fw.fa-linkedin-square.contact_method_icon.black_text.blue_hover_highlight
        span.contact_method_text.link_hover_underline.contact_method_link
          | linkedin.com/in/pkbriggs
      a.block(href='mailto:patkbriggs@gmail.com', target='_blank')
        i.fa.fa-fw.fa-envelope-o.contact_method_icon.black_text.blue_hover_highlight
        span.contact_method_text.link_hover_underline.contact_method_link patkbriggs@gmail.com
      a.block(href='https://github.com/pkbriggs', target='_blank')
        i.fa.fa-fw.fa-github-square.contact_method_icon.black_text.blue_hover_highlight
        span.contact_method_text.link_hover_underline.contact_method_link pkbriggs


  //- projects section
  .projects_container
    .subsection_header
      span.subsection_header_text Projects
    .subsection_header_divider.projects_subsection_header_divider

    //- NoteMap
    .project_content_and_image_container
      .project_content_container.notemap_content_container
        //- Project name and information
        .project_header
          a.project_name.blue_hover_highlight(href='notemap') NoteMap
          span.project_timeframe.full_date (April 2015 - present)
          span.project_timeframe.abbreviated_date (Apr. 2015 - present)
        .project_description
          | NoteMap is a platform designed to allow programmers to better annotate and take notes on code. What began as a Stanford senior project assignment later went on to win an award at the Stanford senior project fair, and we are continuing to develop our product in hopes that students can begin to use it in their classes.

        .project_technologies
          span.project_technology Ruby on Rails
          i.fa.fa-circle.project_technology_separator
          span.project_technology Coffeescript
          i.fa.fa-circle.project_technology_separator
          span.project_technology JQuery
          i.fa.fa-circle.project_technology_separator
          span.project_technology Postgres
        .project_learn_more_container
          a.project_learn_more.link_hover_underline(href='notemap')
            | Learn more&nbsp;
            i.fa.fa-angle-right

      a(href="img/notemap-imac.png").focusable_image_container.project_image_container
        img(src="img/notemap-imac.png" alt="image").focusable_image

    //- Tutera
    .project_content_and_image_container
      a(href="img/tutera-phone.png").focusable_image_container.tutera_image_container.project_image_container
        img(src="img/tutera-phone.png" alt="image").focusable_image

      .project_content_container
        //- Project name and information
        .project_header
          a.project_name.blue_hover_highlight(href='tutera') Tutera
          span.project_timeframe.full_date (September 2014 - December 2014)
          span.project_timeframe.abbreviated_date (Sept. 2014 - Dec. 2014)
        .project_description
          | Tutera is a mobile web-app created to solve the problem of connecting helpful tutors to hardworking students. The site was originally created for the class Human Computer Interaction and Design at Stanford, thus the focus of the project was on the process of needfinding, sketching, user testing, prototyping, and developing a final product.

        .project_technologies
          span.project_technology Ruby on Rails
          i.fa.fa-circle.project_technology_separator
          span.project_technology Javascript
          i.fa.fa-circle.project_technology_separator
          span.project_technology Postgres
          i.fa.fa-circle.project_technology_separator
          span.project_technology Heroku
        .project_learn_more_container
          a.project_learn_more.link_hover_underline(href='tutera')
            | Learn more&nbsp;
            i.fa.fa-angle-right


    //- TryBTC
    .project_content_and_image_container
      .project_content_container.trybtc_content_container
        //- Project name and information
        .project_header
          a.project_name.blue_hover_highlight(href='trybtc') TryBTC
          span.project_timeframe.full_date (April 2013 - September 2014)
          span.project_timeframe.abbreviated_date (Apr. 2013 - Sept. 2014)
        .project_description
          | TryBTC is a website with the goal of teaching anyone in the world, no matter their background, about Bitcoin in under 5 minutes. My roommate and I started TryBTC as a class project, but we continued to work on it and proceeded to launch it publicly and raise venture capital. TryBTC has since helped over 500,000 people learn about and use Bitcoin.

        .project_technologies
          span.project_technology Ruby on Rails
          i.fa.fa-circle.project_technology_separator
          span.project_technology Coffeescript
          i.fa.fa-circle.project_technology_separator
          span.project_technology JQuery
          i.fa.fa-circle.project_technology_separator
          span.project_technology MySQL
          i.fa.fa-circle.project_technology_separator
          span.project_technology AWS
        .project_learn_more_container
          a.project_learn_more.link_hover_underline(href='trybtc')
            | Learn more&nbsp;
            i.fa.fa-angle-right

      a(href="img/trybtc-laptop.png").focusable_image_container.project_image_container
        img(src="img/trybtc-laptop.png" alt="image").focusable_image
